
/*
    Question page heading and nested heading styles not fully supported by Assets Frontend
 */
h1.heading-xlarge, h1 {
    margin-bottom: 50px;
}
h1>label.heading-xlarge,
legend>h1.heading-xlarge {
    margin-bottom: 15px;
}
.form-group-error legend>h1.heading-xlarge,
.form-group-error h1>label.heading-xlarge {
    margin-top: 0;
}

/*
    Assets Frontend does not render focus styles accessibly
 */
input:focus, textarea:focus, select:focus, #global-header input:focus {
    outline-offset: 0;
}
.govuk-check-your-answers { margin: 30px 0 60px 0; }
