
/*
    Question page heading and nested heading styles not fully supported by Assets Frontend
 */
h1.heading-xlarge, h1 {
    margin-bottom: 50px;
}
h1>label.heading-xlarge,
legend>h1.heading-xlarge,
legend>h2.heading-medium {
    margin-bottom: 15px;
}
legend>h2.heading-medium,
legend>h2,
.form-group-error legend>h1.heading-xlarge,
.form-group-error h1>label.heading-xlarge,
h1 > span.heading-medium,
.column-half > .heading-medium,
.govuk-box-highlight > h1,
.govuk-caption-xl + h1,
.govuk-caption-xl + h2,
.govuk-caption-xl + form h1,
.govuk-caption-xl + form label.heading-xlarge,
.returns-list-header h2,
.returns-list-header h3 {
    margin-top: 0;
}
h1 + .govuk-caption-xl {
    padding-top: 0;
}
ul+form legend>h2.heading-medium {
    margin-top: 1.125em;
}
.account-home-heading {
    padding-bottom: 30px;
}
.returns-list-header h3 {
    font-size: 24px;
}
.govuk-box-highlight > h1,
.account-header h1.heading-xlarge {
    margin-bottom: 0;
}
.account-header .sub-heading {
    margin-bottom: 30px;
}

.pull-right {
    float: right;
    margin: 0;
}

.account-due h2 {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 0;
}

.account-due h2.very-large-number {
    font-size: 27px;
}

.drafts-list {
    margin-bottom: 50px;
}

.govuk-box-highlight--status {
    background-color: #005ea5;
}

.govuk-box-highlight--status > p {
    margin: 20px 0 0 0;
}

.govuk-box-highlight--status > p > span {
    margin: 0;
}

.return-summary .cya-change {
    display: none;
}

.govuk-label-wrapper {
    margin: 0;
}

.govuk-check-your-answers.no-border>*>* {
    border-bottom: none;
}

#content .heading-xlarge .heading-secondary,
#content .govuk-caption-xl {
    color: #626a6e;
}

#content .form-hint {
    color: #515A5C;
}

div>p.lede,
.form-hint {
    margin-bottom: 15px;
    margin-top: 0;
}

.sidebar__list-item a {
    font-size: 16px;
}

fieldset .form-hint {
    padding-bottom: 10px;
}

.panel-border-wide {
    margin-bottom: 30px;
}

.form-group-error .autocomplete__input {
    border-color: #d4351c;
    border-width: 4px;
}

.govuk-list>li, .error-summary-list>li {
    margin-bottom: 5px;
}

.list-item--dashed {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}

.list-item--dashed:before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
}

.with-bottom-margin {
    margin-bottom: 1.875em;
}

.with-top-margin {
    margin-top: 1em;
}

.form-date > .lang-cy {
    width: 60px;
}

.form-date > .lang-cy input {
    width: 50px;
}

/*
    Assets Frontend does not render focus styles accessibly
 */
input:focus, textarea:focus, select:focus, #global-header input:focus {
    outline-offset: 0;
}

/*
* AF 3.9.0 uses inline-block for this which
* creates double arrows in MS Edge
 */
.no-details details summary .arrow-closed {
    display: none !important;
}

.govuk-check-your-answers { margin: 30px 0 60px 0; }

/* misalignment of panel border on radios with revealing content */
.multiple-choice + .panel-indent {
    margin-left: 16px;
}

/* overriding backwards-compatibility.scss that forces 92% in a panel indent */
.multiple-choice + .panel-indent .form-control {
    width: 50%;
}

.multiple-choice .form-hint {
    display: block;
    float: left;
    padding-left: 12px;
    margin-bottom: 0;
    clear: left;
}

.autocomplete__wrapper {
    width: 75%;
    min-width: 9em;
}

.custom-input-wrapper {
    width: 50%;
    min-width: 9em;
}

.custom-input-wrapper.small {
    width: 33%;
    min-width: 9em;
}

.autocomplete__wrapper input[type="text"],
.custom-input-wrapper input[type="text"] {
    width: 100%;
    min-width: 9em;
}

.multiple-choice + .panel-indent .custom-input-wrapper .form-control {
    width: 100%;
}

.govuk-related-items {
    margin-top: 30px;
    border-top: 10px solid #005ea5;
    padding-top: 5px;
}
.govuk-related-items h2 {
    margin-top: 0.55556em;
}

.govuk-label--m {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11111;
    margin-bottom: 10px;
}

.hmcts-banner {
    border: 5px solid #005ea5;
    color: #005ea5;
    font-size: 0;
    margin-bottom: 30px;
    padding: 10px;
}

.hmcts-banner--success {
    border-color: #00703c;
    color: #00703c;
}

.hmcts-banner__icon {
    fill: currentColor;
    float: left;
    margin-right: 10px;
}

.hmcts-banner__message {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #0b0c0c;
    display: block;
    overflow: hidden;
}

.hmcts-banner__assistive {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}

.account-menu {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
}

.account-menu+.beta-banner {
    border-bottom: none;
}

.account-menu .as-link-home, .account-menu .as-link-active {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaW5ZTWlkIj48dGl0bGU+aWNvbi1ob21lPC90aXRsZT48cGF0aCBkPSJNMTIgMkwxIDEyLjVoMy4xOXY5LjM4aDUuNDR2LTcuMTNoNC41djcuMTNoNS40NFYxMi41SDIzTDEyIDJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 19px;
    text-decoration: none;
    color: #005ea5;
    padding: 12px 18px 8px 22px;
    border-bottom: 4px solid #005ea5;
}

.account-menu .as-link-home:hover, .account-menu .as-link-active:hover {
    border-bottom: 4px solid #dee0e2;
    color: #2b8cc4;
}

.account-menu .as-link-active {
    background: none;
}

.account-menu .as-link {
    padding: 12px 16px 8px 16px;
    color: #005ea5;
    text-decoration: none;
    border-bottom: 4px solid #fff;
}

.account-menu .as-link:hover {
    border-bottom: 4px solid #dee0e2;
    color: #2b8cc4;
}

.account-menu .as-link:first-child {
    padding-left: 22px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaW5ZTWlkIj48dGl0bGU+aWNvbi1ob21lPC90aXRsZT48cGF0aCBkPSJNMTIgMkwxIDEyLjVoMy4xOXY5LjM4aDUuNDR2LTcuMTNoNC41djcuMTNoNS40NFYxMi41SDIzTDEyIDJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 19px;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 15px 0 0;
}

.account-menu__link  {
    color: rgb(29, 112, 184);
}

.account-icon {
    color: rgb(29, 112, 184);
}

details {
    margin-bottom: 20px;
}

.govuk-caption-xl {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11111;
    display: block;
    margin-bottom: 5px;
    padding-top: 20px;
}

.govuk-tag {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.25;
    display: inline-block;
    padding: 4px 8px;
    padding-bottom: 1px;
    outline: 2px solid transparent;
    outline-offset: -2px;
    color: #ffffff;
    background-color: #005ea5;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.app-task-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.app-task-list__section {
    display: table;
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11111;
}

@media print {
    .app-task-list__section {
        font-family: sans-serif;
        font-size: 18pt;
        line-height: 1.15;
    }

    a:link:after, a:visited:after {
        content: "";
    }
}


.app-task-list__section-number {
    display: table-cell;
}

.app-task-list__items {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
    list-style: none;
    padding-left: 0;
}

@media print {
    .app-task-list__items {
        font-family: sans-serif;
        font-size: 14pt;
        line-height: 1.15;
    }
}

.app-task-list__item {
    border-bottom: 1px solid #bfc1c3;
    margin-bottom: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.app-task-list__item:after {
    content: "";
    display: block;
    clear: both;
}

.app-task-list__item:first-child {
    border-top: 1px solid #bfc1c3;
}

.app-task-list__task-name {
    display: block;
}

.app-task-list__task-completed {
    margin-top: 10px;
    margin-bottom: 5px;
}

@media (min-width: 28.125em) {
    .app-task-list__task-completed {
        float: right;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.app-task-list__task-inprogress {
    margin-top: 10px;
    margin-bottom: 5px;
    border: solid 2px;
    background: white;
    color: #005ea5;
}

@media (min-width: 28.125em) {
    .app-task-list__task-inprogress {
        float: right;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.incomplete, .IN.PROGRESS {
    color: #005ea5;
    background-color: white;
    border: 2px solid #005ea5;
}

.cannot-start {
    background-color: #fff;
    border: 2px solid white;
    color: #555;
}

.to-do {
    background-color: #fff;
    border-style: double;
    color: #005ea5;
}

.hmcts-currency-input {
    position: relative;
}

.hmcts-currency-input .hmcts-currency-input__symbol {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 1.25;
    position: absolute;
    top: 0;
    font-weight: bold;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    background-color: #f3f2f1;
    border: 2px solid #0b0c0c;
}

.hmcts-currency-input input {
    padding-left: 40px;
    margin: 0;
}

.hmcts-currency-input.left .hmcts-currency-input__symbol {
    left: 0;
}

.hmcts-currency-input input {
    padding-left: 40px;
}

.hmcts-currency-input input:focus {
    -moz-box-shadow: inset 0 0 0 2px;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
}

.hmcts-currency-input.right .hmcts-currency-input__symbol {
    right: 0;
}

.hmcts-currency-input.right input {
    padding-left: 5px;
    padding-right: 40px;
}

input:focus + .hmcts-currency-input__symbol.left {
    -moz-box-shadow: inset 0 0 0 2px;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
}

input:focus + .hmcts-currency-input__symbol.right {
    -moz-box-shadow: inset 0 0 0 2px;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
}

.hmcts-currency-input__symbol.form-control--error {
    border-color: #d4351c;
    border-width: 4px;
}

input:focus + .hmcts-currency-input__symbol.form-control--error {
    border-color: #0b0c0c;
    border-width: 2px;
    padding: 10px;
    -moz-box-shadow: inset 0 0 0 2px;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
}

.ur-banner {
    background-color: #005ea5;
    padding-top: 10px;
    color: white;
}

.service-info .beta-banner .phase-tag, .service-info .phase-tag {
    background-color: #005ea5;
}

main>div>.service-info {
    border-top-color: #005ea5;
}

.ur-banner+div+main>div>.service-info {
    border: none;
}

.no-thanks {
    text-align: right;
}

.no-thanks a {
    font-size: 16px;
}

.ur-banner p a,
.ur-banner p a:link
{
    color: white;
}
.ur-banner p a:focus,
.ur-banner p a:link:focus {
    color: #0b0c0c;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::i-block-chrome, input:focus + .hmcts-currency-input__symbol.form-control--error {
        border-width: 4px;
        padding: 8px;
    }
}

    .calc-rows > li {
    position: relative;
}

.calc-total {
    font-family: "nta", Arial, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
}

details dl.govuk-check-your-answers {
    margin-bottom: 30px;
}

.govuk-check-your-answers.cya-questions-long .sum-total > .cya-question,
.govuk-check-your-answers.cya-questions-long .sum-total > .cya-change {
    font-weight: bold;
    font-size: 16px;
    max-width: 50%;
}

.govuk-check-your-answers.cya-questions-long .sum-part > .cya-question,
.govuk-check-your-answers.cya-questions-long .sum-part > .cya-change {
    font-weight: normal;
    font-size: 16px;
    max-width: 50%;
}

.column-three-quarters {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
}

.return-list li {
    margin-bottom: 20px;
}

.delta-table {
    margin-top: -60px;
}

.delta-table .caption {
    margin-bottom: 0;
    color: #515A5C;
    display: block;
    font-weight: normal;
}
.return-list li .caption,
.charge .caption,
.account-due .caption {
    font-size: 16px;
    margin-bottom: 0;
    color: #515A5C;
    display: block;
    font-weight: normal;
}

.return-list li h3,
.return-list li h4,
.return-list li h5 {
    margin-top: 0;
}

.return-list li h3,
.return-list li h4,
.return-list li h5 {
    font-size: 24px;
}

.return-list li .financial-summary h5,
.submission-meta {
    text-align: right;
}

.return-list li h4.cgt-liability {
    font-size: 36px;
}

.form-bundle {
    border: 1px solid #bfc1c3;
    padding: 20px;
}

.sub-heading {
    display: block;
    font-weight: normal;
    font-size: 19px;
}

.payments-list-container {
    margin: 0;
}

.view-return-charges td,
.view-return-charges th,
.payments-list li {
    font-size: 16px;
    vertical-align: bottom;
}

.no-border td {
    border-bottom: none;
}

@media only screen and (max-width: 641px) {

    table, thead, tbody, th, td, tr, .mobile-only {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #cccccc;
    }
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 200px;
        margin-left: 150px;
    }
    td:before {
        position: absolute;
        top: 12px;
        left: 6px;
        width: 200px;
        padding-right: 40px;
        white-space: nowrap;
        margin-left: -150px;
    }

    table.view-return-charges td:nth-of-type(1):before { content: "Description"; }
    table.view-return-charges td:nth-of-type(2):before { content: "Pay by"; }
    table.view-return-charges td:nth-of-type(3):before { content: "Amount"; }
    table.view-return-charges td:nth-of-type(4):before { content: "Due";}
    table.view-return-charges td:nth-of-type(5):before { content: "Status";}

    table.delta-table td:nth-of-type(1):before { content: ""; }
    table.delta-table td:nth-of-type(2):before { content: "Date due"; }
    table.delta-table td:nth-of-type(3):before { content: "Amount"; }

    td.allocations:nth-of-type(1):before {
        content: "Allocations"!important;
    }

    .cya-change.cya-extra-action {
        position: relative;
    }

    .return-list li .financial-summary h5,
    .submission-meta {
        text-align: left;
    }

    .submission-meta {
        margin-top: 1em;
    }

    .govuk-check-your-answers.cya-questions-long .sum-part > .cya-question,
    .govuk-check-your-answers.cya-questions-long .sum-part > .cya-change,
    .govuk-check-your-answers.cya-questions-long .sum-total > .cya-question,
    .govuk-check-your-answers.cya-questions-long .sum-total > .cya-change {
        min-width: 100%;
        position: relative;
        text-align: left;
    }

    .govuk-check-your-answers.cya-questions-long .sum-part > .cya-question {
        color: #515A5C;
    }

    .ur-banner {
        padding-bottom: 10px;
    }

    .ur-banner .no-thanks {
        text-align: left;
    }

}

.cya-extra-action {
    padding-left: 1em;
}

@media only screen and (max-width: 930px) {
    .calc-total {
        position: relative;
    }
}

@media (max-width: 900px) {
    .column-one-third.account-due,
    .column-two-thirds.account-header {
        width: 100%;
        float: none;
        display: block;
        text-align: left;
    }
    .column-one-third.account-due .govuk-caption-xl {
        padding-top: 0;
    }
}

@media (min-width: 900px) and (max-width: 1023px){
    .account-due h2.regular-number {
        font-size: 36px;
    }
    .account-due h2.large-number {
        font-size: 32px;
    }
}

@media (min-width: 1024px) {
    .account-due h2.regular-number {
        font-size: 48px;
    }
    .account-due h2.large-number {
        font-size: 36px;
    }
}

@media (min-width: 28.125em) {
    .app-task-list__task-name {
        float: left;
        width: 75%;
    }
}

@media (min-width: 40.0625em) {
    .app-task-list__items {
        font-size: 19px;
        line-height: 1.31579;
        margin-bottom: 60px;
        padding-left: 30px;
    }
    .app-task-list__section {
        font-size: 24px;
        line-height: 1.25;
    }
    .app-task-list__section-number {
        min-width: 30px;
        padding-right: 0;
    }
    .app-task-list {
        min-width: 550px;
    }
    .govuk-tag {
        font-size: 16px;
        line-height: 1.25;
    }
    .govuk-caption-xl {
        padding-top: 40px;
        font-size: 27px;
        line-height: 1.11111;
    }
    .hmcts-banner__message {
        font-size: 19px;
        line-height: 1.31579;
    }
    .govuk-label--m {
        font-size: 24px;
        line-height: 1.25;
    }
    .account-due {
        text-align: right;
    }
    .column-three-quarters {
        width: 75%;
        float: left;
    }
    .govuk-check-your-answers.cya-questions-long .sum-part > .cya-question,
    .govuk-check-your-answers.cya-questions-long .sum-total > .cya-question {
        width: 75%;
        max-width: 75%;
    }
}
