
/*
    Question page heading and nested heading styles not fully supported by Assets Frontend
 */
h1.heading-xlarge, h1 {
    margin-bottom: 50px;
}
h1>label.heading-xlarge,
legend>h1.heading-xlarge {
    margin-bottom: 15px;
}
.form-group-error legend>h1.heading-xlarge,
.form-group-error h1>label.heading-xlarge,
h1 > span.heading-medium,
.column-half > .heading-medium {
    margin-top: 0;
}

fieldset .form-hint {
    padding-bottom: 10px;
}

.panel-border-wide {
    margin-bottom: 30px;
}

/*
    Assets Frontend does not render focus styles accessibly
 */
input:focus, textarea:focus, select:focus, #global-header input:focus {
    outline-offset: 0;
}
.govuk-check-your-answers { margin: 30px 0 60px 0; }

/* misalignment of panel border on radios with revealing content */
.multiple-choice + .panel-indent {
    margin-left: 16px;
}

/* overriding backwards-compatibility.scss that forces 92% in a panel indent */
.multiple-choice + .panel-indent .form-control {
    width: 50%;
}

.autocomplete__wrapper {
    width: 50%;
}

.autocomplete__wrapper input[type="text"] {
    width: 100%;
}

.govuk-related-items {
    margin-top: 30px;
    border-top: 10px solid #1d70b8;
    padding-top: 5px;
}
.govuk-related-items h2 {
    margin-top: 0.55556em;
}

.govuk-label--m {
    font-family: "nta", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11111;
    margin-bottom: 10px;
}

@media (min-width: 40.0625em) {
    .govuk-label--m {
        font-size: 24px;
        line-height: 1.25;
    }
}

.hmcts-banner {
    border: 5px solid #1d70b8;
    color: #1d70b8;
    font-size: 0;
    margin-bottom: 30px;
    padding: 10px;
}

.hmcts-banner--success {
    border-color: #00703c;
    color: #00703c;
}

.hmcts-banner__icon {
    fill: currentColor;
    float: left;
    margin-right: 10px;
}

.hmcts-banner__message {
    font-family: "GDS Transport", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: #0b0c0c;
    display: block;
    overflow: hidden;
}

@media (min-width: 40.0625em) {
    .hmcts-banner__message {
        font-size: 19px;
        line-height: 1.31579;
    }
}

.hmcts-banner__assistive {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}

.account-menu {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
}

.account-menu+.beta-banner {
    border-bottom: none;
}

.account-menu .as-link-home, .account-menu .as-link-active {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaW5ZTWlkIj48dGl0bGU+aWNvbi1ob21lPC90aXRsZT48cGF0aCBkPSJNMTIgMkwxIDEyLjVoMy4xOXY5LjM4aDUuNDR2LTcuMTNoNC41djcuMTNoNS40NFYxMi41SDIzTDEyIDJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 19px;
    text-decoration: none;
    color: #005ea5;
    padding: 12px 18px 8px 22px;
    border-bottom: 4px solid #005ea5;
}

.account-menu .as-link-home:hover, .account-menu .as-link-active:hover {
    border-bottom: 4px solid #dee0e2;
    color: #2b8cc4;
}

.account-menu .as-link-active {
    background: none;
}

.account-menu .as-link {
    padding: 12px 16px 8px 16px;
    color: #005ea5;
    text-decoration: none;
    border-bottom: 4px solid #fff;
}

.account-menu .as-link:hover {
    border-bottom: 4px solid #dee0e2;
    color: #2b8cc4;
}

.account-menu .as-link:first-child {
    padding-left: 22px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaW5ZTWlkIj48dGl0bGU+aWNvbi1ob21lPC90aXRsZT48cGF0aCBkPSJNMTIgMkwxIDEyLjVoMy4xOXY5LjM4aDUuNDR2LTcuMTNoNC41djcuMTNoNS40NFYxMi41SDIzTDEyIDJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 19px;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 15px 0 0;
}

.account-menu__link  {
    color: rgb(29, 112, 184);
}

.account-icon {
    color: rgb(29, 112, 184);
}
