.account-balance,
.financial-summary,
.submission-meta {
    text-align: right;
}
@media (max-width: 900px) {
    .account-balance,
    .financial-summary,
    .submission-meta {
        text-align: left;
    }
    .financial-summary,
    .submission-meta {
        margin-top: 1rem;
    }
}

.form-bundle {
    border: 1px solid #bfc1c3;
    padding: 20px;
}

.cgt-cya__key {
    width: 50%
}

.cgt-cya.govuk-summary-list {
    font-family: GDS Transport, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    color: #0b0c0c;
    margin: 0 0 20px
}

@media print {
    .cgt-cya.govuk-summary-list {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .cgt-cya.govuk-summary-list {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579
    }
}

@media print {
    .cgt-cya.govuk-summary-list {
        font-size: 14pt;
        line-height: 1.15;
        color: #000
    }
}

@media (min-width: 40.0625em) {
    .cgt-cya.govuk-summary-list {
        display: table;
        width: 100%;
        table-layout: fixed;
        margin-bottom: 30px
    }
}

@media (max-width: 40.0525em) {
    .cgt-cya .govuk-summary-list__row {
        margin-bottom: 15px;
        border-bottom: 1px solid #b1b4b6
    }
}

@media (min-width: 40.0625em) {
    .cgt-cya .govuk-summary-list__row {
        display: table-row
    }
}

.cgt-cya .govuk-summary-list__actions, .cgt-cya .govuk-summary-list__key, .cgt-cya .govuk-summary-list__value {
    margin: 0
}

@media (min-width: 40.0625em) {
    .cgt-cya .govuk-summary-list__actions, .cgt-cya .govuk-summary-list__key, .cgt-cya .govuk-summary-list__value {
        display: table-cell;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #b1b4b6
    }
}

.cgt-cya .govuk-summary-list__actions {
    margin-bottom: 15px
}

@media (min-width: 40.0625em) {
    .cgt-cya .govuk-summary-list__actions {
        width: 20%;
        padding-right: 0;
        text-align: right
    }
}

.cgt-cya .govuk-summary-list__key, .cgt-cya .govuk-summary-list__value {
    word-wrap: break-word;
    overflow-wrap: break-word
}

.cgt-cya .govuk-summary-list__key {
    margin-bottom: 5px;
    font-weight: 700
}

@media (min-width: 40.0625em) {
    .cgt-cya .govuk-summary-list__key {
        width: 50%
    }
}

@media (max-width: 40.0525em) {
    .cgt-cya .govuk-summary-list__value {
        margin-bottom: 15px
    }
}

@media (min-width: 40.0625em) {
    .cgt-cya .govuk-summary-list__value {
        width: 50%
    }
}

@media (min-width: 40.0625em) {
    .cgt-cya .govuk-summary-list__value:last-child {
        width: 70%
    }
}

.cgt-cya .govuk-summary-list__value > p {
    margin-bottom: 10px
}

.cgt-cya .govuk-summary-list__value > :last-child {
    margin-bottom: 0
}

.cgt-cya .govuk-summary-list__actions-list {
    width: 100%;
    margin: 0;
    padding: 0
}

.cgt-cya .govuk-summary-list__actions-list-item {
    display: inline;
    margin-right: 10px;
    padding-right: 10px
}

.cgt-cya .govuk-summary-list__actions-list-item:not(:last-child) {
    border-right: 1px solid #b1b4b6
}

.cgt-cya .govuk-summary-list__actions-list-item:last-child {
    margin-right: 0;
    padding-right: 0;
    border: 0
}

@media (max-width: 40.0525em) {
    .cgt-cya.govuk-summary-list--no-border .govuk-summary-list__row {
        border: 0
    }
}

@media (min-width: 40.0625em) {
    .cgt-cya.govuk-summary-list--no-border .govuk-summary-list__actions, .cgt-cya.govuk-summary-list--no-border .govuk-summary-list__key, .cgt-cya.govuk-summary-list--no-border .govuk-summary-list__value {
        padding-bottom: 11px;
        border: 0
    }
}

@media (max-width: 40.0525em) {
    .cgt-cya .govuk-summary-list__row--no-border {
        border: 0
    }
}

@media (min-width: 40.0625em) {
    .cgt-cya .govuk-summary-list__row--no-border .govuk-summary-list__actions, .cgt-cya .govuk-summary-list__row--no-border .govuk-summary-list__key, .cgt-cya .govuk-summary-list__row--no-border .govuk-summary-list__value {
        padding-bottom: 11px;
        border: 0
    }
}

.list-item--dashed {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
}

.list-item--dashed:before {
    content: "—";
    position: absolute;
    left: 0;
    width: 20px;
    overflow: hidden;
}

.govuk-related-items {
    border-top: 10px solid #005ea5;
    padding-top: 5px;
}

.account-menu {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    background-color: #fff;
    border-bottom: 1px solid #bfc1c3;
    margin-bottom: 0;
}

.account-menu .as-link-home, .account-menu .as-link-active {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaW5ZTWlkIj48dGl0bGU+aWNvbi1ob21lPC90aXRsZT48cGF0aCBkPSJNMTIgMkwxIDEyLjVoMy4xOXY5LjM4aDUuNDR2LTcuMTNoNC41djcuMTNoNS40NFYxMi41SDIzTDEyIDJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 19px;
    text-decoration: none;
    color: #005ea5;
    padding: 12px 18px 8px 22px;
    border-bottom: 4px solid #005ea5;
}

.account-menu .as-link-home:hover, .account-menu .as-link-active:hover {
    border-bottom: 4px solid #dee0e2;
    color: #2b8cc4;
}

.account-menu .as-link-active {
    background: none;
}

.account-menu .as-link {
    padding: 12px 16px 8px 16px;
    color: #005ea5;
    text-decoration: none;
    border-bottom: 4px solid #fff;
    font-family: GDS Transport, arial, sans-serif;
}

.account-menu .as-link:hover {
    border-bottom: 4px solid #dee0e2;
    color: #2b8cc4;
}

.account-menu .as-link:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
}

.account-menu .as-link:first-child {
    padding-left: 22px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBkYXRhLW5hbWU9IkxheWVyIDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaW5ZTWlkIj48dGl0bGU+aWNvbi1ob21lPC90aXRsZT48cGF0aCBkPSJNMTIgMkwxIDEyLjVoMy4xOXY5LjM4aDUuNDR2LTcuMTNoNC41djcuMTNoNS40NFYxMi41SDIzTDEyIDJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 19px;
}

.account-menu__link {
    color: rgb(29, 112, 184);
}

.account-icon {
    color: rgb(29, 112, 184);
}




